<%= render 'shared/errors', object: @question %>

<%= form_with model: @question do |f| %>
  <div class="mb-3 row"> 
    <div class="col-sm-2 col-form-label">
      <%= f.label :title, class: 'col-sm-2 col-form-label' %>
    </div>

    <div class="col-sm-10">
      <%= f.text_field :title, placeholder: t('questions.title'), class: 'form-control' %>
    </div>
  </div>

  <div class="mb-3 row">
    <div class="col-sm-2 col-form-label">
      <%= f.label :body, class: 'col-sm-2 col-form-label' %>
    </div>

    <div class="col-sm 10">
      <%= f.text_area :body, placeholder: t('questions.body'), class: 'form-control' %>
    </div>
  </div>

  <%= f.submit (@question.new_record?) ? t('buttons.submit') : t('buttons.save'), class: 'btn btn-primary' %>
  <%= link_to t('buttons.back'), questions_path, class: 'btn btn-secondary' %>
<% end %>