<% provide :page_title, t('current_page.questions') %>
<% currently_at 'Questions' %>

<h1 class="mb-4"><%= t('current_page.questions') %></h1>

<%= link_to t('questions.new'), new_question_path, class: 'btn btn-primary btn-lg mb-3' %>

<%== pagy_bootstrap_nav @pagy  %>

<%= render @questions %>

<%== pagy_bootstrap_nav @pagy %>